# Python bytecode files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Distribution / packaging
*.egg-info/
dist/
build/

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db